body,
html {
  height: 100%;
}

/* The hero image */
.hero-image {
  /*  darken background effect to the image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.unitypoint.org/filesimages/Articles/July%202017/Cred700.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: QuickSand; */
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
}

section.sec1 {
  width: 100%;
  height: 100vh;
}
.content {
  margin-top: 80px;
}
.content p {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

nav .logo {
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: 0.3s;
}
nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

nav ul li a:focus {
  outline: none;
}
nav ul li a.active {
  background: #4682b4;
  color: #fff;
  border-radius: 6px;
}

nav.black {
  background: rgba(0, 0, 0, 0.8);
  height: 100px;
  padding: 10px 100px;
}
nav.black .logo {
  color: #fff;
}
nav.black ul li a {
  color: #fff;
}
nav ul li a.active {
  background: #4682b4;
  color: #fff;
  border-radius: 6px;
}
footer {
  align-items: center;
  background-color: #262626;
  bottom: 1;
  color: black;
  display: flex;
  font-size: 5em;
  text-decoration-color: blanchedalmond;
  height: 400px;
  justify-content: center;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}
